body {
    background-color: #568f56;
}

main {
    font-family: monospace;
}

h1, h2 {
    text-align: center;
    background-color: #90EE90;
    border-style: solid;
	border-color: black;
    border-radius: 10px;
	border-width: 3px;
}

p, label {
    color: white;
}

#alert {
    visibility: hidden;
}

#alert2 {
    visibility: hidden;
}

#cardsInHand {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* img {
    height: 280px;
    width: 200px;
} */

/* h3 {
    display: flex;
    color: black;
    font-size: 96px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(-90%, 0);
    z-index: 1;
    text-align: center;
    height: 280px;
    width: 200px;
    margin: 0;
    align-items: center;
} */